.filter-item {
  margin-right: 6px;
  vertical-align: top;
}

@media (min-width: $screen-sm-min)  {
  .issues-filters,
  .issues_bulk_update {
    .dropdown-menu-toggle {
      width: 132px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .filter-item {
    display: block;
    margin: 0 0 10px 0;
  }
}

